{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'articles/css/styles.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'articles/images/main.ico' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Блок меню -->
            {% block mainmenu %}
            <div class="header">
                <ul id="mainmenu" class="mainmenu">
                    <li class="logo"><a href="{% url 'start_page' %}"><div class="logo"></div></a></li>
                        {% for m in menu %}
                            {% if not forloop.last %}
                                <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                            {% else %}
                                <li class="last"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="clear"></div>
            </div>
            {% endblock mainmenu %}
            <!-- Конец блока меню -->
            <form action="{% url 'search' %}" method="get">
                <input type="search" type="text" name="q" placeholder="Поиск новостей">
                <button type="submit">Найти</button>

            </form>
                <!-- Блок контента -->
                <div class="content-text">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- Конец блока контента -->
        <!-- Footer -->
        <div id="footer">
            <p>2024 Сайт разработан компанией R-443Y_company. Автор aleksey88bsuir</p>
        </div>
        <!-- Конец footer'а и страницы -->

</body>
</html>
