{% extends 'articles/base.html' %}

{% block content %}
<div class="content-text">
<div class="search-field-under">
    <form action="{% url 'search' %}" method="get">
        <input type="search" type="text" name="q" placeholder="Поиск новостей">
        <button class="animated button" type="submit">Найти</button>
    </form>
</div>

<ul class="list-articles">
    {% for post in posts %}
    <li>

        <div class="article-panel">

            {% if post.photo %}
                <p><img class="img-article-left thumb" src="{{ post.photo.url }}"></p>
            {% endif %}
            <h2>{{post.title}}</h2>
            <p class="first">Автор: {{ post.author }}</p>
            <br>
            {% autoescape on %}
                <p>{{ post.content|linebreaks|truncatewords:50 }}</p>
            {% endautoescape %}
            <div class="clear"></div>
            <p class="link-read-post"><a href="{% url 'post' post.pk %}">Читать статью</a> </p>
        </div>
    </li>
    {% endfor %}
</ul>
    {% if request.user.is_authenticated %}
    <h1>Данный текст читает только авторизованный пользователь</h1>

    <br>
    {% else %}
    <p></p><br>
    <p></p>
    {% endif %}
</div>
{% endblock content %}
